<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>this is login html</h1>
  <form action="/user" method="get">
    <input type="submit" value="rest-get提交">
  </form>
  <form action="/user" method="post">
      <input type="submit" value="rest-post提交">
  </form>
  <form action="/user" method="post">
      <input name="_method" type="hidden" value="DELETE">
      <input type="submit" value="rest-delete提交">
  </form>
  <form action="/user" method="post">
      <input name="_method" type="hidden" value="PUT">
      <input type="submit" value="rest-put提交">
  </form>

  <!--
  /cars/path?a=xxx&b=xxx   queryString 查询字符串
  /cars/{path;a=xxx;b=xxx,xx,xxxx} 矩阵变量
  页面开发，cookie禁用了，session里面的内容怎么使用
  session.set(a,b)==》jessionId==>cookie==>每次请求携带
  url重写： /abc;jessionid=xxx  把cookie的值使用矩阵变量传递过来
  矩阵变量都是在路径中的，注意
  -->
<a href="/car/sell;low=34;brand=byd,audi,bmw">@MatrixVariable矩阵变量</a>
<a href="/car/sell;low=34;brand=byd;brand=bmw;brand=audi">矩阵变量</a>
<a href="/boss/1;age=20/2;age=10">矩阵变量</a>
</body>
</html>